<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>

    <div>
      <ul>
        <% habits.forEach(item=> { %>
          <li>
            <label id=<%=item.id %> class="<%= item.title %>" for="<%= item.title %>">
              <%= item.title %>
            </label>
                <button><span id="<%=item.id%>" class="habit"> delete</span></button>
                <button class="editBtn" id=<%=item.id %>>Edit</button>
          </li>
          <% }) %>
          </ul>
              <form class="mainForm" id="habitForm" action="/manageHabits" method="GET">
                <label for="editButton"></label>
                <input type="hidden" name="habitId" />
                <input id="updateInput" type="text" name="habitName" />
                <input type="submit" id="submit" value="Update" />
              </form>
    </div>
    <script src="/js/manageHabitsCL.js"></script>
  </body>

</html>
